<main class="bg-black text-white">


    <section class="container py-4">


        <div class="row g-4 mt-4">

            <div class="col-md-3  border-0 rounded" style="margin-left: 300px;">
                <img src="~/img/actor1.jpg" height="200" width="200" alt="" class="img-fluid rounded shadow-sm mb-3 img-fluid" />
            </div>

            <div class="col-md-3 text-start text-light text-center align-items-center pt-5" style="margin-top: 75px;">
                <div class="card-body p-2 ">
                    <h2 class="card-title m-0">Van Dessel</h2>
                </div>
                <div>
                    <span class="ms-3 me-2">Age: 65</span>
                </div>
            </div>



            <hr class="my-5 border-white-50" />

            <section>
                <h4><i class="fas fa-film me-2"></i>Van Dessel Movies</h4>
                <div class="row row-cols-2 row-cols-md-5 g-3 mt-3">
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/b0fbe922-a7b9-4745-bc87-bde69777f0fa.png" class="card-img-top" alt="Movie poster for Arrival showing a woman looking at a spaceship" />
                            <div class="card-body p-2">
                                <h6 class="card-title m-0">Arrival</h6>
                                <small>★★★★☆ 4.5</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/85433b1d-4069-4915-9781-2daa9af4b622.png" class="card-img-top" alt="Movie poster for Fences showing 2 men and a woman in conversation" />
                            <div class="card-body p-2">
                                <h6 class="card-title m-0">Fences</h6>
                                <small>★★★★☆ 6.8</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/288777e3-8c03-4ac8-b39c-6c7636617f06.png" class="card-img-top" alt="Movie poster for Hacksaw Ridge showing a soldier carrying a wounded comrade" />
                            <div class="card-body p-2">
                                <h6 class="card-title m-0">Hacksaw Ridge</h6>
                                <small>★★★★☆ 6.3</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/2ce11d99-d1a8-4ab3-9bfb-c1ddaf372db9.png" class="card-img-top" alt="Movie poster for Lion showing a young man and a child resting heads together" />
                            <div class="card-body p-2">
                                <h6 class="card-title m-0">Lion</h6>
                                <small>★★★☆☆ 7.3</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card bg-dark text-white border-0 h-100">
                            <img src="https://storage.googleapis.com/workspace-0f70711f-8b4e-4d94-86f1-2a93ccde5887/image/d453510c-a304-4721-86f8-cbcfe409639d.png" class="card-img-top" alt="Movie poster for Manchester by the Sea showing two men walking by the sea" />
                            <div class="card-body p-2">
                                <h6 class="card-title m-0">Manchester by the Sea</h6>
                                <small>★★★☆☆ 7.6</small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <button class="btn btn-outline-light btn-sm">Show More</button>
                </div>
            </section>
    </section>
</main>
